In [29]:
import pandas as pd
import os

ruta = "./csvs/"
provList=["Coruna","Lugo","Ourense","Pontevedra"]
resultado_df = pd.DataFrame()

resultado_df = pd.concat([pd.read_csv(f"{ruta}{prov}.csv") for prov in provList], ignore_index=True)

#resultado_df
pd.DataFrame([resultado_df.Concello, resultado_df.Provincia])

#resultado_df.to_csv('ProvJuntas.csv', index = False)

,0,1,2,3,4,5,6,7,8,9,...,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638
Concello,Abegondo,Ames,Ames,Ares,Arteixo,A Coruña,Arteixo,Arzúa,Arzúa,Bergondo,...,Monterroso,Begonte,Outeiro de Rei,Chantada,Lugo,Burela,Lugo,Begonte,Lugo,Lugo
Provincia,A Coruña,A Coruña,A Coruña,A Coruña,A Coruña,A Coruña,A Coruña,A Coruña,A Coruña,A Coruña,...,Lugo,Lugo,Lugo,Lugo,Lugo,Lugo,Lugo,Lugo,Lugo,Lugo